<%= @mail_subject %>

<%- if @activity.action == "comment" %>
"""
<%= @activity.message %>
"""
<%- end %>

View ticket at 
<a href="<%= "#{ENV['PUBLIC_URL']}#tickets/#{@ticket.to_param}" %>">
  <%= "#{ENV['PUBLIC_URL']}#tickets/#{@ticket.to_param}" %>
</a>
