@import fancy-buttons
@import blueprint
@import blueprint/typography
@import compass/css3
@import compass/utilities
@import compass/layout/sticky-footer
@import compass/utilities/color
@import blueprint/scaffolding
@import compass/css3/box-shadow


// 
// Blueprint config
//

$blueprint-grid-columns: 12
$blueprint-container-size: 980px
$blueprint-grid-margin: 10px

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin


$open-ticket: #C43C35
$closed-ticket: #46A546


@include sticky-footer(20px, ".container", ".container-footer", ".footer")

body
  +blueprint(true)
  background: lighten(#F1F1F1, 5%)  

.container
  +container

.navbar
  +column(12, true)
  margin-bottom: 40px
  .brand
    +column(6)
    .brand-name
      margin-top: 10px
      margin-right: 30px
      font-size: 20px
      text-decoration: none
      color: #0066CC

  .user-nav  
    +column(6, true)
    text-align: right

.main
  +column(9)
  margin-top: 20px

.sidebar
  +column(3, true)
  +border-radius(4px)
  margin-top: 20px
  background: #DDD
  float: right
  .content
    margin: 5px

.new-ticket-link
  +fancy-button-matte(#666, $font-size: 16px, $radius: 3px)
  

= ticket-tag
  font-weight: bold
  padding: 4px
  border-radius: 3px
  color: #FFF
  text-decoration: none
  text-transform: uppercase
  font-size: 11px

.ticket-nav
  +column(4)

  .open-tickets
    +ticket-tag
    background: $open-ticket

  .closed-tickets
    +ticket-tag
    background: $closed-ticket

.search-wrapper
  +column(6)

= ticket-list-item
  margin: 5px
  font-size: 16px
  .meta
    font-size: 13px    
    color: #CCC  
    .user
      font-style: italic
      color: #666
    .posted_at
      color: #999

.ticket-list
  .open-ticket
    +ticket-list-item
  .closed-ticket
    +ticket-list-item

.ticket
  .ticket-details-wrapper
    +single-box-shadow(#CCC)  
    background: lighten(#FFEA8E, 20%)
    border: 1px solid #CCC
    +border-radius(4px)

    .action-bar
      padding: 4px
      border-top: 1px solid #CCC
      background: lighten(#DDD, 5%)
      .tags
        .tag
          font-size: 11px
          background: lighten(#43405D, 4%)
          text-transform: uppercase
          color: #FFF
          padding: 4px
          font-weight: bold
          +border-radius(3px)

    .ticket-details  
      padding: 4px 4px 0px 4px
      .open
        +ticket-tag
        background: $open-ticket
      .closed
        +ticket-tag
        background: $closed-ticket
      .title
        font-size: 21px
        font-weight: bold
        margin: 5px
      .meta
        margin: 5px
        .user
          font-weight: bold
      .message
        margin: 5px


.activities
  margin-top: 20px
  .activity
    margin-top: 20px
    margin-bottom: 20px

    .comment-activity
      border: 1px solid darken(#F1F1F1, 5%)
      +border-radius(4px)
      background: lighten(#C3E4F2, 13%)

    .re-opened
      +ticket-tag
      background: $open-ticket

    .closed
      +ticket-tag
      background: $closed-ticket

    .meta
      color: #999
      margin: 5px
      .user
        color: #333
        font-weight: bold
    .message
      margin: 5px
 
.new-comment-message
  width: 400px
  height: 100px