@import bootstrap

.user-nav
  +columns(4)
  ul
    list-style: none
    li
      display: inline

header
  +fixed-container

.main
  +columns(12)

.sidebar
  +columns(4)
  +border-radius(4px)
  background: #DDD
  float: right

.ticket-nav
  ul
    list-style: none
    li
      display: inline

.ticket-list
  float: left

.open-ticket
