@import "bootstrap";

.user-nav {
  @include columns(4);
  ul {
    list-style: none;
    li {
      display: inline;
    }
  }
}

header {
  @include fixed-container();
}

.main {
  @include columns(12);
}

.sidebar {
  @include columns(4);
  background: #666;
  float:right;
}

.ticket-nav {
  ul {
    list-style: none;
    li {
      display: inline;
    }
  }
}

.ticket-list {
  float: left;
}

.open-ticket {
}
